<!DOCTYPE html>
<% var assets = 'http://localhost:8050' %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="<%= assets %>/public/assets/server.styles.css" />
</head>
<body>
<%= test %>
<%- body -%>
<script src="<%= assets %>/public/assets/client.bundle.js"></script>
</body>
</html>