<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="<%= assetsDomain %>/public/assets/server.styles.css" />
</head>
<body>
<script type="text/javascript">
    window.REDUX_INITIAL_STATE = { user: null }
    <% if (user) { %>
        window.REDUX_INITIAL_STATE.user = <%- user.toString() %>;
    <% } %>
</script>
<%- body -%>
<script src="<%= assetsDomain %>/public/assets/client.bundle.js"></script>
</body>
</html>